# Dossiers et fichiers Node.js
node_modules/
npm-debug.log*

config
# Fichiers système
.DS_Store
Thumbs.db
# Fichiers temporaires
*.tmp
*.bak
# Configuration IDE
.vscode/
.idea/
*.swp
*.swo

#certificats 
ssl/certificate.crt 
ssl/private.key

